<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Mercado Liebre </title>
    </head>
<body>
<header>
    <img src="./../public/images/img-home-banner.jpg">
    <br>
    <p>Comprá en cuotas y sin tarjeta de crédito</p>
    <br>
    <ul>
        <li> <a href="ofertas.html">Ofertas</a> </li>
        <li> <a href="tiendasoficiales.html">Tiendas Oficiales </a> </li>
        <li><a href="vender.html">Vender</a> </li>
        <li> <a href="ayuda.html">Ayuda</a></li>
        <br>
        <li><a href="creatucuenta.html">Creá tu cuenta</a></li>
        <li><a href="ingresa.html">Ingresá</a></li>
        <li><a href="miscompras.html">Mis Compras</a></li>
        
    </ul>


</header>
<main>
    <section>
        <article>
            <h2>Basado en tu última visita </h2>
            <img src="./../public/images/img-cafetera-moulinex.jpg">
            <p>$6.770 
            <br>
            <br>
            40% OFF 
            <br>
            <br>
            <b>Cafetera Moulinex</p></b>
        </article>
        <article>
            <img src="./../public/images/img-macbook-pro-2019.jpg">
            <p>$230.000
            <br>
            <br>
            20% OFF 
            <br>
            <br>
            <b>MacBook Pro 2019</p></b>
        </article>
        
        <article>
            <img src="./../public/images/img-tv-samsung-smart.jpg">
            <p>$23.200
            <br>
            <br>
            5% OFF 
            <br>
            <br>
            <b><p> SmartTv Samsung 43"</p></b>
        </article>
</section>
<section>
    <article>
        <h2>Sección de Ofertas </h2>
        <img src="./../public/images/img-cafetera-moulinex.jpg">
        <p>$6.770 
        <br>
        <br>
        40% OFF 
        <br>
        <br>
        <b>Cafetera Moulinex</p></b>
    </article>
    <article>
        <img src="./../public/images/img-macbook-pro-2019.jpg">
        <p>$230.000
        <br>
        <br>
        20% OFF 
        <br>
        <br>
        <b>MacBook Pro 2019</p></b>
    </article>
    
    <article>
        <img src="./../public/images/img-tv-samsung-smart.jpg">
        <p>$23.200
        <br>
        <br>
        5% OFF 
        <br>
        <br>
        <b><p> SmartTv Samsung 43"</p></b>
    </article>
</section>

</main>


<footer>
 <ul>
     <li><b>Pagá con tarjeta o en efectivo</b></li>
         <br>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
<br>
      <li><b>Envío gratis desde $ 2.500</b></li>
<br>
           <p> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>

            <li><b>Seguridad, de principio a fin</b></li>
<p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
porque estás siempre protegid@.</p>
<br>
<br>

<p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p> 

</footer>
</body>

</html>