<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./../public/images/css/styles.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
     <title> Mercado Liebre </title>
</head>

<body>
<header>
    <img src="./../public/images/img-home-banner.jpg">
    <br>
    <img src="./../public/images/logo-mercado-liebre.svg">
    <input type=“text” placeholder=“Search..“>
    <i class="fas fa-search"></i>
    <br>
    <br>
    <div id="compra"><i class="fas fa-hand-holding-usd"> Comprá en cuotas y sin tarjeta de crédito</i></div>
    </i>
    <br>
    <ul>
        <li> <a href="ofertas.html">Ofertas</a> </li>
        <li> <a href="tiendasoficiales.html">Tiendas Oficiales </a> </li>
        <li><a href="vender.html">Vender</a> </li>
        <li> <a href="ayuda.html">Ayuda</a></li>
        <br>
        <li><a href="creatucuenta.html">Creá tu cuenta </a><i class="far fa-address-card"></i></li>
        <li><a href="ingresa.html">Ingresá</a> <i class="fas fa-sign-out-alt"></i></li>
        <li><a href="miscompras.html">Mis Compras </a><i class="fas fa-shopping-basket"></i></li>
        
    </ul>
    <div id="icon" class="burger-menu">
        <i class="fas fa-bars"></i>
        </div>

</header>
<main>
    <section>
        <article>
            <h2 id="titulares">Basado en tu última visita </h2>
           <div><img src="./../public/images/img-cafetera-moulinex.jpg"></div> 
            <p id="precios">$6.770 </p>
            <br>
            <br>
            <p id="descuentos">  40% OFF </p>
            <br>
            <br>
            <b><p id="descripcion">Cafetera Moulinex</p></b>
        </article>
        <article>
            <img src="./../public/images/img-macbook-pro-2019.jpg">
            <p id="precios">$230.000</p>

            <br>
            <br>
            <p id="descuentos"> 20% OFF </p> 
            <br>
            <br>
            <b><p id="descripcion">  MacBook Pro 2019</p></b>
        </article>
        
        <article>
            <img src="./../public/images/img-tv-samsung-smart.jpg">
            <p id="precios">$23.200</p>
            <br>
            <br>
            <p id="descuentos">  5% OFF </p>
            <br>
            <br>
            <b><p id="descripcion"> SmartTv Samsung 43"</p></b>
        </article>
</section>
<section>
    <article>
        <h2 id="titulares">Sección de Ofertas </h2>
        <img src="./../public/images/img-cafetera-moulinex.jpg">
        <p id="precios">$6.770 </p>
        <br>
        <br>
        <p id="descuentos"> 40% OFF </p>
        <br>
        <br>
        <b><p id="descripcion">Cafetera Moulinex</p></b>
    </article>
    <article>
        <img src="./../public/images/img-macbook-pro-2019.jpg">
        <p id="precios">$230.000</p>
        <br>
        <br>
        <p id="descuentos"> 20% OFF </p>   
        <br>
        <br>
        <b><p id="descripcion">MacBook Pro 2019</p></b>
    </article>
    
    <article>
        <img src="./../public/images/img-tv-samsung-smart.jpg">
        <p id="precios">$23.200</p>
        <br>
        <br>
        <p id="descuentos">   5% OFF </p>
        <br>
        <br>
        <b><p id="descripcion">SmartTv Samsung 43"</p></b>
    </article>
</section>

</main>


<footer>
 
            <i id="icon" class="fas fa-credit-card"></i>
     <h3><b>Pagá con tarjeta o en efectivo</b></h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>

        <i id="icon" class="fas fa-gift"></i>      
      <h3><b>Envío gratis desde $ 2.500</b></h3>
           <p> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>          
            <i id="icon" class="fas fa-user-shield"></i>
            <h3><b>Seguridad, de principio a fin</b></h3>
<p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
porque estás siempre protegid@.</p>
<br>
<br>

<p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p> 

</footer>
</body>

</html>