* {box-sizing: border-box;}
header { background-color: #EAC926; font-family: 'Roboto', sans-serif;};
main {background-color: #ebebeb ;
      font-family: 'Roboto', sans-serif;}

 main {text-align: center;
padding: 10px;
background-color: #ebebeb;
font-family: 'Roboto', sans-serif;};


#titulares { font-size: 24px;};
#precios { font-size: 18px;}
#descuentos { font-size: 16px; 
                color: #39b54a;}
#compra { text-align: center;}
#icon { text-align: center; color:#1259c3; font-size: 2em; border-bottom: 10px;}
#descripcion { text-align: center;
    font-size: 16px;
    border-top: solid, 1px, #ebebeb;
    background-color: white;
    width: 61%;
   margin-right: auto;
   margin-left: auto;
}
#camion {color: #39b54a; text-align: center;}
footer {    text-align: center;
            background-color:white; 
            vertical-align: middle;
            font-family: 'Roboto', sans-serif;}

@media (max-width:361px){
#descripcion { display: none;}
}

@media (min-width:769px){
   main {box-shadow: 0px 0px 10px rgb(100, 100, 100);}}